ul {
  display: flex;
  justify-content: center;
}

li a {
    color: darkblue;
}

body {
    background: white url("images/1283882819_D6E8F4F0EEE2EEE920F4EEED203036203036.jpg") no-repeat right bottom;
}

h1 {
  display: flex;
  justify-content: center;
}




 a {
  display: flex;
  justify-content: center;
}

